* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;

    height: 100vh;
    
}

textarea {
    resize: none;
}

/** HEADER **/

header {
    width: 100%;

    background-color: #C4C4C4;

    padding: 20px 10px;

    align-self: flex-start;
}

header h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;

}

/** CHAT LOG **/

.chat_log {
    width: 100%;
    padding: 20px 50px;

    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    margin-bottom: 20px;

    width: 100%;
    max-width: 1000px;
}

.inner_message {
    border: solid black 2px;
    border-radius: 5px;

    word-wrap: break-word;

    padding: 10px 10px;
}

.buttons {
    display: flex;
    justify-content: end;

    margin-top: 3px;
}

.button_editar {
	background-color:#c7c544;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1rem;
	padding:5px 10px;
	text-decoration:none;
    border: none;
}
.button_editar:hover {
	background-color:#c7bf2a;
}
.button_editar:active {
	position:relative;
	top:1px;
}

.button_apagar {
	background-color:#c74444;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1rem;
	padding:5px 10px;
	text-decoration:none;
    border: none;
}
.button_apagar:hover {
	background-color:#bf2a2a;
}
.button_apagar:active {
	position:relative;
	top:1px;
}

.button_confirmar {
	background-color:#4463c7;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1rem;
	padding:5px 10px;
	text-decoration:none;
    border: none;
}
.button_confirmar:hover {
	background-color:#4463bf;
}
.button_confirmar:active {
	position:relative;
	top:1px;
}



/** CHAT INPUT **/

.chat_input {
    width: 100%;

    margin-top: auto;

    display: flex;
    justify-content: center;
}

.inner_chat_input {
    padding: 10px 20px;

    background-color: #C4C4C4;

    display: flex;
    align-items: center;

    gap: 10px;
}

.inner_chat_input textarea {
    resize: none;
}

.inner_chat_input button {
    align-self: start;
}

.button_enviar {
	background-color:#44c767;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1rem;
	padding:5px 10px;
	text-decoration:none;
    border: none;
}
.button_enviar:hover {
	background-color:#5cbf2a;
}
.button_enviar:active {
	position:relative;
	top:1px;
}